<div class="container">
    <img src="{{food.url}}" [alt]="food.name">
    <div class="content">
        <div class="horizontal-align">
            <span class="name">{{food.name}}</span>
            <mat-icon class="favorite {{food.isFavorite?'':'not'}}">favorite</mat-icon>
        </div>

        <div class="rating">
            <mat-icon *ngFor="let i of starArray">star</mat-icon>
        </div>
        <div class="origins">
            <span *ngFor="let origin of food.origins">
                {{origin}}

            </span>
        </div>
        <app-tag class="tag-align" [foodTags]="food.tagName"></app-tag>
        <div>
            Time to cook about <b>{{food.cooktime}} minutes </b>
        </div>
        <div class="price">{{food.price | currency:'INR'}}</div>
        <button class="addToCart" (click)="addToCart(food)">{{addedButton? "Added":"Add to Cart"}} </button>
    </div>

</div>