<div class="container">
    <img src="{{food.url}}">
    
        <div class="horizontal-align">
            <h3>{{food.name}}</h3>
            <mat-icon [hidden]="!food.isFavorite">favorite</mat-icon>
        </div>

        <div class="rating">
            <mat-icon *ngFor="let i of starArray">star</mat-icon>
        </div>
        <div class="origin">
            Italy
        </div>
        <app-tag class="tag-align" [foodTags]="food.tagName"></app-tag>
        <div>
            Time to cook about <b>{{food.cooktime}} minutes </b>
        </div>
        <div class="price">{{food.price | currency:'INR'}}</div>
        <button class="addToCart">Add to Cart</button>


</div>