<div>
    <img src="../../assets/pizza.jpg">
    <div>
        <div class="horizontal-align">
            <h3>Vegetable Pizza</h3><mat-icon>favorite</mat-icon>
        </div>

        <div>
            <mat-icon *ngFor="let i of starArray">star</mat-icon>
        </div>
        <div>
            Italy
        </div>
        <app-tag></app-tag>
        <div>
            Time to cook about 40-50 minutes
        </div>
        <div>390.00 | currency:INR</div>
        <button>Add to Cart</button>


    </div>
</div>