div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div a{
    margin-right: 1rem;
    margin-left: 1rem;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(249, 190, 190);
    border:none;
    outline: none;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;;
    padding-bottom: 0.3rem;
    border-radius: 10rem 10rem 10rem 10rem;
    text-decoration: none;
    font-weight: 600;
    color: rgb(11, 44, 17);
}