<app-search></app-search>
<app-tag></app-tag>
<div class="horizontal-list">
    <mat-chip-set *ngFor="let food of foodRecipes">
                    
        <mat-chip>
            <div class="space-between">
                <div>{{food.name}}</div><mat-icon [disabled]="!food.isFavorite">favorite</mat-icon>
            </div>
            <a>
            <img [src]="food.url"> 
            </a>
            <div class="colInfo">
                <div class="space-between"><mat-icon>alarm</mat-icon>{{food.cooktime}} minutes</div>
                
                <div class="space-between" ><div *ngFor="let i of getArray(food.rating)"><mat-icon>star</mat-icon></div></div>
                <div>Price: {{food.price | currency:"INR"}}
            </div>
            </div>
            <br>
            
        </mat-chip>
        
    </mat-chip-set>
  </div>

 

  