.horizontal-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    padding-top: 10px;
  }
  
  mat-chip-set {
    flex: 1 1; 
    box-sizing: border-box;
  }
  
  mat-chip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px; 
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    overflow: hidden;
    margin: 0.5rem;
    color: #3d0707;
  }
  
  mat-chip img {
    max-width: 100%;
    width: 190px;
    height: 190px;;
    max-height: 100%;
    object-fit: cover; 
    border-radius: 1rem;
    overflow: hidden;

  }
  
  mat-chip a:hover{
    cursor: pointer;
    opacity: 0.9;
  }